<h1>Product ID</h1>



<form action="/" method="POST">

<label for="id">Enter ID:</label>
<input type="text" id="id" name="id" required><br><br>


    <button type="submit" formaction="/getSingleProductid">Get Single Product</button>



    <button type="submit" formaction="/updateProd">Update Product</button>



    <button type="submit" formaction="/delProd">Delete Product</button>
</form>